body {
    background-color: black ;
    color: azure;
}

.buttonFrame {
    padding: 10px;
    text-align: center;
}
.colorButton {
    padding: 15%;
    background-color: aliceblue;
    display: inline-block;
    margin: 10px;
}